@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');
*{
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color: #121212;
	font-weight: 800;
}

h1{
	text-align: center;
	font-size: 50px;
}
h2{
	text-align: center;
	font-size: 30px;
}
.yellow-gradient{
	background: linear-gradient(#f9cd13, #F9801A);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

video{
	align-content: center;
}

.white{
	color: #fff;
}
.turquoise{
	color: #25F4EE;
}
.pink{
	color: #FE2C55;
}
footer{
	color: #4E4E4E;
	text-align: center;
	margin-bottom: 5px; 
}
a:link{
	color: #FF449F;
	text-decoration: none;
	transition: 0.5s;
}
a:hover {
  color: #F54748;
  background-color: transparent;
  transition: 0.5s;
  text-decoration: underline;
}
button{
	padding: 5px 12px;
  	height: 45px;
  	width: 150px;
	border-radius: 10px;
	background-color: #2e2e2e;
	color: #f9cd13;
	border: transparent;
	text-align: center;
    text-decoration: none;
    font-size: 16px;
	font-weight: 600;
	margin-bottom: 9px;
	display: block; 
	margin: auto;
}
.home{
	width: 37px;
	margin: 6px;
}
.part {
    background-color: transparent;
    padding: 0px;
    margin: 0px;  
    transition: 0.15s;
  }
  .part:hover {
    transform: scale(1.15);
}